@import 'light.scss';
@import 'dark.scss';

button#submit {
  background-color: #000000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0.5em;
  font-size: 12px;
  padding: 0.2em 0.4em;
  margin: 0.1em 0.2em;
  min-width: 60px;
}
